# Ignore git files
.git
.gitignore

# Ignore dev scripts and temporary link checker logs
*.py
*.txt
*.md

# Ignore raw zip files and unzipped raw folders
raw_html/
raw_html.zip

# Ignore Docker config itself
Dockerfile
docker-compose.yml
.dockerignore
